<ion-content>

  <div class="limiter">
    <div class="container-login100" >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-25 p-b-54">
       
          <span class="login100-form-title p-b-49">
           A EMPORTER
          </span>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" (click)="changetypelivraison(1)">
                A EMPORTER
              </button>
            </div>
          </div>


        
      </div>
    </div>

    <div class="container-login100" >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-25 p-b-54">       
          <span class="login100-form-title p-b-49">
           LIVRAISON
          </span>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" (click)="changetypelivraison(3)">
                LIVRAISON
              </button>
            </div>
          </div>


        
      </div>
    </div>
  </div>
 
</ion-content>
